.DS_Store

application/cache/*
!application/cache/index.html

application/logs/*
!application/logs/index.html

!application/*/.htaccess

composer.lock

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*
/vendor/

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/
SmartAdmin 4.0.0 - Responsive WebApp/screenshot.png
SmartAdmin 4.0.0 - Responsive WebApp/start.html
SmartAdmin 4.0.0 - Responsive WebApp/www.gradown.com.txt
SmartAdmin 4.0.0 - Responsive WebApp/www.gradown.com.url
SmartAdmin 4.0.0 - Responsive WebApp/tests/css-ie-rules.js
SmartAdmin 4.0.0 - Responsive WebApp/tests/css-media-rules.js
